body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #c3d2e8;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  text-align: center
}

nav {
  text-align: center;
  margin: 0;
  background-color: #5d5c7a;
  width: auto
}

li {
  display: inline;
  width: auto
}

header {
  font-weight: bold;
  text-decoration: underline;
  font-size: 
}

#title {
  font-size: 30;
  color: #c8c8de
}

#subheading {
  font-size: 20
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: #c8c8de
}

a:hover {
  background-color: #5c687a;
  color: white
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

#selector-link {
  color: black;
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
